@import url('https://fonts.googleapis.com/css2?family:Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #C2FFC0, #fff);
  background-attachment: fixed; /* Keep the background fixed, preventing it from scrolling with the content */
}

@media (max-width: 768px) {
  .banner-text h1 {
    display: none;
  }
}
.banner-text {
  background-color: #6FB995;
  color: #fff;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between; /* Align content to the top left */
  align-items: center; /* Vertically center the content within the header */
}
.banner-text nav-menu {
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center; /* Vertically center the content within the nav menu */
  justify-content: space-between; /* Push content to the top right */
}
.banner-text nav-menu a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Set the color to white */
  font-weight: bold; /* Make the text bold */
  font-size: 1.2rem; /* Increase the font size */
  margin-right: 20px; /* Add adjustable space to the right of each button */
}
.logo {
  width: 50px; /* Adjust the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Add some spacing between the logo and the title */
  filter: brightness(0) invert(1);
}

.calendar {
  width: 650px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
.calendar header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons {
  display: flex;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.6rem;
  font-weight: bold;
}
.calendar-content ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar-content .days {
  margin-bottom: 30px;
}
.calendar-content li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar-content .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar-content .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #6FB995;
}
.days li:not(.active):hover::before {
  background: #f2f2f2;
}

.aboutme {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 10px; /* Add margin for spacing */
  position: absolute;
  top: 80px; /* Adjust the top position as needed */
}

.aboutme h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.aboutme p {
  font-size: 1.1rem;
  line-height: 1.4;
}

.aboutme img {
  max-width: 100%; /* Ensure images fit within the box */
  display: block; /* Remove any extra spacing around the image */
  margin-top: 10px; /* Add spacing below the paragraphs */
}

.color-picker {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 10px; /* Add margin for spacing */
  top: 80px; /* Adjust the top position as needed */
  font-size: 1.1rem; /* Increase the font size */
}

